body{
    color: rgb(193,215,235);
    background-image: url("magic.jpg");
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
}
h2{
    color: rgb(55, 20, 179);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}
input[type = text]{
    width: 50%;
    height: 50px;
    background-color: rgb(90, 192, 124);
    font-size: 24px;
    text-align: center;
}
button[type=button]{
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}